<div>
  <div style="float: right; color: #000">
  	8900 Georgia Avenue, Silver Spring, MD 20910
  	<br />
	(301) 650-0086  |  <a href="mailto:director@springknolls.org">director@springknolls.org</a>
  </div>
  
  <ul style="width: 525px;">
  
  <% for page in @root_page.children %>
    <% if page.in_menu? %>
  	 <li><a href="<%= page.url %>"><%= page.title %></a> | </li>
    <% end %>
  <% end %>

  <li><a href="/<%= @root_page.title %>/faq">FAQ</a> | </li>
	<li><a href="https://www.facebook.com/SpringKnolls.Coop" target="_blank">FB</a> | </li>
  <% if @page and @page.nested_url.include? 'parents-site' %>
	    <li><a href="/parents-site/calendar">Calendar</a> | </li>
  <% else %>
      <li><a href="/home/open-house">Open House</a> | </li>
  <% end %>
	<li><a href="/home/location">Location</a></li>
  </ul>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</div>
