/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@font-face {
	font-family: "News Gothic Std";
	src: font-url("NewsGothicStd.otf") format("opentype");
}

@font-face {
	font-family: "News Gothic Std Bold";
	src: font-url("NewsGothicStd-Bold.otf") format("opentype");
	font-weight: bold;
}

@font-face {
	font-family: "Tekton Pro Bold";
	src: font-url("TektonPro-BoldCond.otf") format("opentype");
	font-weight: bold;
}

html {
	margin: 0;
	padding: 0;
}

* {
	font-family: "News Gothic Std", Arial, Sans-Serif;
	font-size: inherit;
	font-style: inherit;
}

body {
	background: #a7c5c2;
	margin: 0;
	padding: 0;
	font-size: 12pt;
	color: #444;
}

h1, h2, h3 {
	color: #FFF;
	margin: 0;
	padding: 0;
	margin-bottom: 0.5em;
	font-weight: normal;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 125%;
}

section, div, p {
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 0.5em;
}

img {
	margin: 0;
	padding: 0;
}

a {
	color: #34447a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

table {
	width: 100%;
	margin-top: 0;
	margin-bottom: 2em;
	border-collapse: collapse;

	caption {
		padding: 0.5em;
		font-weight: bold;
		font-size: 125%;
	}

	th {
		font-weight: bold;
	}

	th.header-column {
		width: 12em;
		text-align: left;
	}

	td {
		border: 1px solid #555;
	}

	td, th {
		padding: 1em;
	}
}

#page_container {
	padding: 0;
	margin: 0;
}

#site_bar {
	margin: 0;
}

header#header {
	margin: 0;
	background: #FFF image-url('header_bg.png') right no-repeat;

	#header-content {
		width: 960px;
		margin: 0 auto;
		padding: 1em 0;

		#logo {
			float: left;
		}

		#header-sidebar {
			margin-top: 0em;

			nav#quick-links {
				float: right;
				text-align: right;

				ul {
					color: #34447a;
					list-style-type: none;
					margin-right: 1em;
					margin-top: 1em;

					li {
						color: inherit;
						margin-bottom: 0.5em;

						a {
							color: inherit;
						}
					}
				}
			}

			div#families-site-desc {
				float: right;
				width: 200px;
				padding: 10px 20px;
				border-left: 2px dotted black;
				font-size: 85%;

				a {
					float: right;
					margin-left: 0.5em;
				}

				h1 {
					color: #34447a;
				}
			}
		}
	}

	#header-content.page-header {
		padding: 0;

		#logo {
			margin: 0;
			padding: 0;
		}

		img {
			float: right;
			margin: 0;
			padding: 0;
		}

		#header-sidebar {
			font-size: 85%;
			margin-top: 0;
			nav#quick-links {
				ul {
					margin-top: 2.5em;
				}
			}
		}
	}

	nav#menu {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 110%;
	font-family: "Tekton Pro Bold";
	border-top: 3px dotted #34447a;
	border-bottom: 3px dotted #34447a;
	background: #7fab56;

		div#menu-wrapper {
			width: 960px;
			margin: 0 auto;

			ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			float: left;
			position: relative;

				li {
					float: left;
					padding: 13px 0em 9px 0;
					margin: 0;

					a {
						text-decoration: none;
						color: inherit;
						border-right: 2px dotted #34447a;
						padding: 7px 0.75em 7px;
					}

					ul {
						list-style-type: none;
						margin: 0;
						padding: 0;
						margin-left: 2em;
						display: none;
						position: absolute;
						top: 40px;
						left: -36px;
						width: 980px;

						li {
							float: left;
							padding: 0px 0em 0px 0;
							margin: 0;
							border-right: 2px dotted #34447A;
							margin-top: 12px;

							a {
								font-size: 10pt;
								text-decoration: none;
								border: 0;
								color: #34447a;
								padding: 0px 1.5em 0px;
								margin: 0;
								font-weight: normal;
							}
						}

						li:hover a {
							color: #6777AD;
						}
					}

					ul:hover {
						display: block;
					}
				}

				li:hover ul {
					display: block;
				}

				li.selected, li:hover {
					background: #FFF;
					color: #34447a;
				}
			}

			div#menu-content {
				float: right;
				display: block;
				height: 45px;
				position: relative;
				min-width: 175px;
				text-align: right;

				img {
					vertical-align: middle;
				}

				span {
					position: absolute;
					right: 25px;
					top: 15px;
				}
			}
		}
	}

	nav#sub-menu {
		width: 1010px;
		margin: 0 auto;
		background: #FFF;
		height: 30px;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			margin-left: 2em;
			border-left: 2px dotted #34447A;

			li {
				float: left;
				padding: 7px 0em 5px 0;
				margin: 0;
				border-right: 2px dotted #34447A;

				a {
					text-decoration: none;
					color: #34447a;
					padding: 7px 1.5em 7px;
				}
			}

			li:hover a {
				color: #6777AD;
			}
		}
	}
}

footer {
	width: 960px;
	margin: 0 auto;
	color: #FFF;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline;
			margin-right: 0.25em;
		}
	}
}

/* HOME PAGE */

section#page {
	background: #B9C9B9;
	width: 960px;
	margin: 0 auto;
	padding: 2em 2%;
	margin-bottom: 1em;
	border: 2px solid #FFF;
	border-top: none;

	#body_content_title {
		background: #FFF;
		color: #F09050;
		display: inline-block;
		padding: 0.35em 0.5em 0.25em;
		line-height: 100%;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		float: left;
		margin-left: -1em;
		padding-left: 1.35em;
	}

	#body-content {
		width: 60%;
		margin-right: 5%;
		float: left;
		background: #FFF;
		padding: 10px;

		p {
			font-size: 85%;
		}

		section#banner {
			background: #F09050;

			img {
				float: left;
			}

			div {
				float: left;
				width: 152px;
				padding: 20px;
				color: #34447a;
				font-size: 85%;
			}

			h1, h2, h3 {
				color: #34447a;
			}
		}

		section#bottom-content {
			padding: 0.5em 0;
			font-size: 85%;

			h1, h2, h3 {
				margin: 0;
				color: #F09050;
			}

			div {
				min-height: 153px;
				padding: 0 2%;
				width: 29%;
				float: left;
				border-right: 1px dashed black;
			}

			div#bottom-content-3 {
				border: 0;
			}

			a img {
				vertical-align: middle;
				margin-left: 0.5em;
			}
		}

	}

	section#body {
		width: 60%;
		float: left;
		margin-right: 5%;
		padding: 10px;
		clear: left;
	}

	#sidebar-content, section#side_body {
		width: 28%;
		float: left;

		p {
			line-height: 150%;
		}

		img {
			margin: 0 auto;
		}

		div#ad-content {
			border: 1px dashed black;
			padding: 1em 0em 1em;
		}

		.inner {
			text-align: right;
		}
	}
}

